apiVersion: v1
kind: Secret
metadata:
  name: drone-gitea-oauth-app-creds
  namespace: {{ namespace }}
type: Opaque
data:
  client_id: {{ oauth2app_output.json.client_id | b64encode }}
  client_secret: {{ oauth2app_output.json.client_secret | b64encode }}