apiVersion: v1
kind: Secret
metadata:
  name: grafana-admin-secret
  namespace: {{ namespace }}
type: Opaque
data:
  username: {{ admin_username | trim | b64encode }}
  password: {{ admin_password | trim | b64encode }}